<app-instrument-search (emitSearchValue)="search($event)"></app-instrument-search>

<div class="overflow-x-auto">
  <div *ngIf="measuringInstrumentListDtos.length === 0"
       class="mt-2 fs-4">{{this.constantsService.INSTRUMENTS_NOT_FOUND}}</div>
  <table *ngIf="measuringInstrumentListDtos.length > 0"
         class="table table-hover text-center text-break" style="min-width: 1200px">
    <!-- <caption class="caption-top mb-4" style="font-size: 24px;">Danh sách thiết bị đo lường</caption> -->
    <thead>
    <tr class="text-center row col-12 flex-nowrap">
      <th scope="col" class="col-1 d-flex justify-content-center">
        <div class="form-check">
          <input class="form-check-input"
                 type="checkbox"
                 [(ngModel)]="isAllItemsEnabled"
                 (ngModelChange)="enableAllItems()">
        </div>
      </th>
      <th scope="col" class="col-1">STT</th>
      <th scope="col" class="col-3">Tên</th>
      <th scope="col" class="col-2">Ký hiệu</th>
      <th scope="col" class="col-2">Số hiệu</th>
      <!-- <th scope="col" class="col-1">Nhóm</th>
      <th scope="col" class="col-1">Biên chế</th>
      <th scope="col" class="col-1">Đơn vị</th>
      <th scope="col" class="col-1">Tình trạng</th> -->
      <th scope="col" class="col-2">Ghi chú</th>
      <th scope="col" class="col-1 text-danger">
        <i class="fa-solid fa-trash fs-5"></i>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="row col-12" *ngFor="let ins of measuringInstrumentListDtos; let i = index">
      <th scope="row" class="col-1 d-flex justify-content-center">
        <div class="form-check">
          <input class="form-check-input"
                 type="checkbox"
                 [(ngModel)]="ins.enabled"
                 (ngModelChange)="enableItem(ins.id)">
        </div>
      </th>
      <td class="col-1 d-flex align-items-center justify-content-center">{{size*(currentPage-1) + i + 1}}</td>
      <td class="col-3 d-flex align-items-center justify-content-start">
        <a [routerLink]="[ins.id]" class="link-info">{{ins.instrumentName}}</a></td>
        <td class="col-2 d-flex align-items-center justify-content-center">{{ins.instrumentSymbol}}</td>
      <td class="col-2 d-flex align-items-center justify-content-center">{{ins.instrumentSerialNumber}}</td>
      <!-- <td class="col-1 d-flex align-items-center justify-content-center">{{ins.instrumentGroup?.instrumentGroupName}}</td>
      <td class="col-1 d-flex align-items-center justify-content-center">{{ins.inServiceDate | date: "dd/MM/yyyy"}}</td>
      <td class="col-1 d-flex align-items-center justify-content-center">{{ins.managementUnit?.managementUnitName}}</td>
      <td class="col-1 d-flex align-items-center justify-content-center">{{ins.instrumentStatus?.instrumentStatusName}}</td> -->
      <td class="col-2 d-flex align-items-center justify-content-center">{{ins.detailedDescription}}</td>
      <td class="col-1 d-flex justify-content-center align-items-center">
        <button class="btn btn-danger"
                (click)="showDeleteModal(ins.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="measuringInstrumentListDtos.length > 0"
     class="btn-wrap d-flex justify-content-end pe-3 mt-3">
  <button type="button"
          class="btn btn-outline-danger me-2"
          [class.disabled]="!isAnyItemIsEnable"
          (click)="showDeleteModal(undefined)">
    Xóa tất cả
  </button>
  <!-- <button type="button" class="btn btn-outline-primary">
    <i class="fa-solid fa-qrcode"></i> Quét QR
  </button> -->
</div>

<div class="overflow-x-auto me-3">
  <app-pagination style="min-width: 100vw" [totalPages]="totalPages" (emitCurrentPage)="changePage($event)"></app-pagination>
</div>
