<div class="container h-100" style="width: 350px; padding-top: 10%;">
  <h3 class="mb-4">Đăng nhập</h3>
  <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="form-floating mb-3">
      <input type="text"
             id="username"
             class="form-control"
             [class.is-valid]="username?.touched && username?.valid"
             [class.is-invalid]="username?.touched && username?.invalid"
             formControlName="username"
             placeholder="tài khoản">
      <label for="username">Tài khoản
      </label>
      <div class="invalid-feedback" *ngIf="username?.touched && username?.invalid">
        <span *ngIf="username?.touched && username?.errors?.['required']">{{constantsService.USERNAME_REQUIRED}}</span>
        <span *ngIf="username?.touched && username?.errors?.['pattern']">{{constantsService.USERNAME_PATTERN}}</span>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="password"
             id="password"
             class="form-control"
             [class.is-valid]="password?.touched && password?.valid"
             [class.is-invalid]="password?.touched && password?.invalid"
             formControlName="password"
             placeholder="mật khẩu">
      <label for="password">Mật khẩu</label>
      <div class="invalid-feedback" *ngIf="password?.touched && password?.invalid">
        <span *ngIf="password?.touched && password?.errors?.['required']">{{constantsService.PASSWORD_REQUIRED}}</span>
        <span *ngIf="password?.touched && password?.errors?.['pattern']">{{constantsService.PASSWORD_PATTERN}}</span>
      </div>
    </div>
    <div>
      <input type="submit" class="btn btn-primary float-end" value="Đăng nhập">
    </div>
  </form>
</div>
