<div class="w-200px vh-100 position-fixed start-0 top-50px pt-4 rounded-top overflow-hidden bg-body-tertiary shadow">
  <div class="list-group list-group-flush">
    <button type="button"
            id="instrument-management-sidebar"
            class="list-group-item list-group-item-action list-group-item-light active" aria-current="true"
            [class.active]="activeButtonId.includes('instrument-management-sidebar')"
            routerLink="instruments"
            (click)="sidebarClick($event)">Danh sách thiết bị</button>
    <button type="button"
            id="instrument-management-sidebar-create"
            class="list-group-item list-group-item-action list-group-item-light ps-5 btn-child" aria-current="true"
            routerLink="/instruments/create"
            [class.active-child]="activeButtonId == 'instrument-management-sidebar-create'"
            (click)="sidebarClick($event)"><i class="fa-solid fa-plus small"></i> Thêm mới</button>
    <button type="button"
            id="instrument-management-sidebar-create"
            class="list-group-item list-group-item-action list-group-item-light ps-5 btn-child" aria-current="true">
            <i class="fa-solid fa-plus small"></i> Quét mã QR</button>
<!--    <button type="button"-->
<!--            id="accreditation-management-sidebar"-->
<!--            class="list-group-item list-group-item-action list-group-item-light"-->
<!--            [class.active]="activeButtonId === 'accreditation-management-sidebar'"-->
<!--            routerLink="accreditations"-->
<!--            (click)="sidebarClick($event)">Quản lý kiểm định</button>-->
<!--    <button type="button"-->
<!--            id="repair-management-sidebar"-->
<!--            class="list-group-item list-group-item-action list-group-item-light"-->
<!--            [class.active]="activeButtonId === 'repair-management-sidebar'"-->
<!--            routerLink="repairs"-->
<!--            (click)="sidebarClick($event)">Quản lý sửa chữa</button>-->
<!--    <button type="button"-->
<!--            id="usage-management-sidebar"-->
<!--            class="list-group-item list-group-item-action list-group-item-light"-->
<!--            [class.active]="activeButtonId === 'usage-management-sidebar'"-->
<!--            routerLink="usages"-->
<!--            (click)="sidebarClick($event)">Quản lý sử dụng</button>-->
  </div>
</div>
